APP_NAME="Perpustakaan Hafidz"
APP_URL="http://localhost/hafiddev"

# Database Configuration
DB_HOST=""
DB_USER=""
DB_PASS=""
DB_NAME=""

# Admin Authentication (Owner)
ADMIN_USERNAME=""
ADMIN_PASS=""

# Fonnte API Key for WhatsApp OTP
FONNTE_TOKEN=""
